/* Presets and common styles */
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
/* Presets and common styles */

/* Header styles start */
.header {
}
/* Header styles end */

/* Page styles start */
.page {
  flex: 1 1 auto;
}
/* Page styles end */

/* Footer styles start */
.footer {
}
/* Footer styles end */
