/* Presets and common styles */
body {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  color: #333333;
  background-color: #e5e5e5;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

._container {
  box-sizing: content-box;
  max-width: 1070px;
  margin: 0 auto;
  padding: 0 15px;
}

._left-container {
  box-sizing: content-box;
  max-width: 100%;
  margin: 0 auto;
}

._content-paragraph {
  font-size: 16px;
  line-height: 1.8;
  color: #4f4f4f;
  letter-spacing: 0.03em;
  text-align: justify;
}

._title {
  font-size: 35px;
  line-height: 55px;
  font-weight: 900;
  color: #242732;
  letter-spacing: 0.105em;
  text-transform: uppercase;
}

._title-line {
  height: 8px;
  background: linear-gradient(to right, #bb7a3b, rgba(187, 122, 59, 0.3));
}
/* Presets and common styles */

/* Header styles start */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  padding: 20px 0;
}

.header__body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  width: 100%;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.menu__link {
  font-size: 17px;
  line-height: 38px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.105em;
}
/* Header styles end */

/* Page styles start */
.page {
  flex: 1 1 auto;
  padding: 160px 0 120px 0;
}

.page__body {
  display: flex;
}

.page__left {
  padding-right: 57px;
}

.page__right {
  padding-left: 57px;
}

/* Left block styles start */

.left-block {
  flex: 0 1 56.23%;
}

/* Block about myself styles start */
.about-me__picture {
  margin-bottom: 60px;
}

.picture {
  position: relative;
}

.about-me__picture::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 60px;
  height: 100%;
  background-color: #bb7a3b;
}

.picture__myself {
  padding-left: 100px;
  max-width: 100%;
}

.name {
  text-transform: uppercase;
}

.name__first {
  font-size: 70px;
  line-height: 100px;
  font-weight: 700;
  color: #bb7a3b;
  letter-spacing: 0.165em;
}

.name__last {
  font-size: 60px;
  line-height: 70px;
  color: #242732;
  letter-spacing: 0.03em;
}

.about-me__post {
  margin-bottom: 40px;
  font-size: 25px;
  line-height: 30px;
  color: #4f4f4f;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.about-me__information {
  margin-bottom: 50px;
}

.information__paragraph:first-child {
  margin-bottom: 20px;
}
/* Block about myself styles end */

/* Work experience section styles start */
.title__line {
  margin-bottom: 20px;
}
/* Work experience section styles end */

/* Left block styles end */

.right-block {
  flex: 0 1 43.77%;
}
/* Page styles end */

/* Footer styles start */
.footer {
}
/* Footer styles end */
